# flaskful goodness
Flask
Flask-PyMongo
Flask-RESTful

# uwsgi for fast reverse proxy
uWSGI
ujson

# numpy + sparsesvd and dependencies -> for data science
numpy
scipy
cython
sparsesvd

# misc
netifaces
